{% extends 'base.html' %}

{% block title %}Weather Check{% endblock %}

{% block body_block %}
    <center>
        {% if ip %}
            <p>Your IP address is <b>{{ ip }}</b> </p>
        {% else %}
            <p>No ip address detected</p>
        {% endif %}
        </br>

        {% if city %}
            <p>City detected is <b>{{ city }}</b> </p>
        {% else %}
            <p>Couldn't locate your city</p>
        {% endif %}
        </br>

        {% if weather %}
            <p>Weather is : <b>{{ weather }}</b> </p>
        {% else %}
            <p>Can't find your weather details</p>
        {% endif %}
        </br>
    </center>
{% endblock %}


