<!DOCTYPE html>

<html>

<head>
    <title>Should I Go Out Today - {% block title %}Homepage{% endblock %}</title>
</head>

<STYLE TYPE="text/css">
    <!--
    BODY {
       color:#505050;
       background-color:white;
       font-family:verdana;
       font-size:250%
       }
    A:link{color:white}
    A:visited{color:yellow}
    -->
</STYLE>

<font color=black><center> <h1>Should I Go Out Today </h1> </center> </font>

<body style='font-family="verdana"'>
    <div>
        {% block body_block %}{% endblock %}
    </div>
</body>

</html>
